.header {
    background-color: var(--blue-color);
}
.header__container {
    padding-top: 18px;
    padding-bottom: 22px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.header__img {
    width: 160px;
    height: 30px;
}
.header__input {
    width: 282px;
    padding: 11px 12px 11px 16px;
    border-radius: 10px;
    background: #F8F8F8;
        &::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px; /* 121.429% */
        color: var(--light-blue-color);
        }
}
.header__wrapper-input{
    position: relative;
    &::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 12px;
    display: block;
    background-image: url('../icon/search.svg');
    width: 18px;
    height: 18px;
    cursor: pointer;
    }
}
.header__tel {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px; /* 133.333% */
    color: var(--white-color);
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/phone.svg');
        width: 18px;
        height: 18px;
    }
    &:hover {
        color: var(--yellow-color);
    }
}
.header__wrapper-list {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    gap: 30px;
}
.header__link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.16px;
    color: var(--white-color);
    &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px; /* Высота линии */
            background-color: var(--white-color); /* Цвет подчеркивания при исчезании линии*/
            transition: width 0.5s; /* Время эффекта */
            }
            &:hover::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px; /* Высота линии */
            background-color: var(--white-color); /* Цвет подчеркивания при появлении линии*/
            transition: width 0.5s;  /* Время эффекта */
            }
}
.header__button {
    margin-left: auto;
    display: flex;
    gap: 9px;
    padding: 9px 22px;
    align-items: center;
    background-color: var(--yellow-color);
    color: var(--blue-color);
    border-radius: 12px;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/icon.svg');
        width: 18px;
        height: 18px;
    }
    &:hover {
        background-color: var(--white-color);
    }
}
.header__burger-icon {
    display: none;
    width: 38px;
    height: 38px;
    fill: var(--white-color);
}
@media screen and (max-width: 991.98px) {
    .header__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__wrapper {
        margin-bottom: 0px;
    }
    .header__tel {
        margin-left: 20px;
    }
    .header__wrapper-input {
        display: none;
    }
    .header__wrapper-list {
        justify-content: center;
    }
    .header__nav {
        display: none;
    }
    .header__burger {
        margin-left: 20px;
    }
    .header__burger-icon {
        display: block;
    }
}
@media screen and (max-width: 649.98px) {
    .header__button {
        display: none;
    }
}
@media screen and (max-width: 479.98px) {
    .header__tel {
        display: none;
    }
}